# Node.js
node_modules/
npm-debug.log
coverage/
.env

# Banco local
db.sqlite3

# Python
__pycache__/
*.pyc
venv/
.venv/

# Java
target/
*.class

# Vue.js
dist/
.cache/


coverage/
coverage/
node_modules/
.venv/
*.sqlite3
*.sqlite3
bipdelivery/db.sqlite3
cypress/screenshots/
cypress/videos/

# --- Enterprise Clean Sweep ---
**/staticfiles/
**/static_root/
**/*.sqlite3
**/*.log
.env
.venv/
node_modules/
dist/
__pycache__/
*.py[cod]
