# Python & Virtual Environments
.venv/
venv/
env/
ENV/
__pycache__/
*.py[cod]

# Django
db.sqlite3
staticfiles/
media/
*.log

# IDEs
.vscode/
.idea/
.DS_Store

# Environments
.env
.env.*

# Frontend
node_modules/
dist/
build/